<div class="container" *ngIf="data">
  <a class="navigation" *ngIf="url !== '/'" [routerLink]="['../']">
    <i class="fas fa-arrow-left"></i>
    <div class="parent-container">
      <i class="fas fa-folder-open"></i>
      <p>{{data.name}}</p>
    </div>
  </a>
  <ul class="list" *ngIf="data">
    <li *ngFor="let item of data._embedded.items">
      <div (click)="changePage(item)">
        <div class="row list-wrapper">
          <div class="col-1">
            <i *ngIf="item.type === 'dir'" class="fas fa-folder"></i>
            <img *ngIf="(item.type !== 'dir' && item.media_type === 'image')" [src]="item.preview" alt="photo">
            <i *ngIf="(item.type !== 'dir' && item.media_type !== 'image')" class="far fa-file"></i></div>
          <div class="col-6">
            <span>{{item.name}}</span>
          </div>
          <div class="col-5">
            <span *ngIf="item.size">{{fixSize(item.size)}} КБ</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
