.navigation {
  margin-bottom: 50px;
  padding-top: 30px;
  cursor: pointer;
  display: block;
  p {
    margin: 0 0 0 20px;
    display: inline-block;
  }
  .parent-container {
    display: inline-block;
    margin-left: 30px;
    i {
      font-size: 38px;
      vertical-align: middle;
      color: #fdefb1;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    margin-bottom: 40px;
    list-style: none;
    .list-wrapper {
      align-items: center;
    }
    i {
      font-size: 50px;
      vertical-align: middle;
      color: #fdefb1;
    }
    img {
      width: 50px;
      object-fit: cover;
      height: 60px;
    }
  }
}


p,span {
  color: #333;
}
